@import "compass/css3";

body {
  background: linear-gradient(to right, #ccc, #444);
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  margin: auto;
  border-radius: 10px;
  color: #535353; }

  article {
  border-radius: auto;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0px 20px;
  background-color: white;
  font-family: 'Fjalla One', sans-serif;
  border: 1px solid red;
  height: 400px;
  margin-top: 30px;}